/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wpzoom-slideshow .append-slide-button {
	margin-top: 15px;

	button {
		display: flex;
		flex-direction: row;
		align-items: center;

		&::after {
			content: "Add Slide";
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
		}
	}

}